/* NAVBAR */

@use "variables" as*;
.header {
    width: 100%;
    position: relative;
}
.navbar {
    height: 70px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: min(100%, $ancho-maximo);
    padding: 0 $padding-horizontales;
    h1 {
        font-size: 1rem 2vh 2.6rem; // clamp
    }
}
.icon-bootstrap {
    font-size: 35px;
    color: black;
    position: fixed;
    z-index: 10;
    top: 9px;
    right: 20px;
}
.icon-toggle {
    display: none;
}
.icon-toggle:checked + .links-nav {
    height: 100vh;
}
.links-nav {
    background-color:#000000ad;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    height: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    gap: 20px;
    transition: height .4s ease;
    backdrop-filter: blur(5px);
}
.link-nav {
    color: white;
    font-size: 2.2rem;
    font-weight: bold;
    letter-spacing: 2px;
}
