@use "variables" as*;

.main-section {
    margin: 0 auto;
    width: min(100%, $ancho-maximo);
}
.main-article {
    text-align: center;
}
.main-subtittle {
}
.main-subtittle-h3 {
    color: white;
}
.main-text {
    color: white;
    margin: 15px 0;
}
.btn-conteiner {
    display: flex;
    justify-content: center;
    gap: 10px;
}
.btn {
    background-color: #8c1390;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 5px 15px;
    color: white;
}
.main-img {
    width: 100%;
    display: none;
}